<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <i class="fa-solid fa-g fa-bounce" style="margin-left: 500px"></i
        ><i class="fa-solid fa-g fa-bounce"></i>
        <p style="text-align: center; color: floralwhite">__________________</p>
        <h1><strong style="font-size: 150px">Garage</strong> Genius</h1>
        <br />

        <div class="middle">
          <p>Where Expertise Meets Excellence...</p>
          <br />
          <p>
            "Regular maintenance is key to keeping your vehicle running smoothly
            and avoiding costly repairs down the road."
          </p>
          <br />
          <i class="fa-solid fa-motorcycle mx-5"></i
          ><i class="fa-solid fa-car-side" style="margin-left: 800px"></i>
        </div>
      </div>
    </div>
  </div>
</body>
