<!DOCTYPE html>
<html>
  <body>
    <footer class="pt-5 pb-4" style="background-color: darkslategray">
      <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
          <div class="col-md-3 mx-auto mt-3">
            <i
              class="fa-solid fa-g"
              style="color: floralwhite; font-size: 100px"
            ></i
            ><i
              class="fa-solid fa-g"
              style="color: floralwhite; font-size: 100px"
            ></i>
            <h5 class="font-weight-bold">Garage Genius</h5>
            <p>
              Garage Genius mission is to enable premium quality care for your
              luxury vehicles and offers services at affordable pricing . We
              ensure real-time updates for complete vehicle care needs with a
              fair and transparent pricing mechanism.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="font-weight-bold mb-3">Services</h5>
            <p>
              <a routerLink="/vehiclewashing">Car Washing</a>
            </p>
            <p>
              <a routerLink="/carDetailing">Car Detailing</a>
            </p>
            <p>
              <a routerLink="/autoRepair">Auto Repair</a>
            </p>
            <p>
              <a routerLink="/bikeService">Two Wheeler</a>
            </p>
            <p>
              <a routerLink="/accessories">Accessories </a>
            </p>
          </div>

          <div class="col-md-3 mx-auto mt-3">
            <h5 class="mb-3 font-weight-bold">Links</h5>
            <p>
              <a routerLink="/home">Home</a>
            </p>
            <p>
              <a routerLink="/aboutUs">About</a>
            </p>
            <p>
              <a routerLink="/vehicleservices">Vehicle Services</a>
            </p>

            <p>
              <a routerLink="/contactUs">Contact Us</a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="mb-3 font-weight-bold">Contact</h5>
            <p><i class="fas fa-home mr-3"></i>Hyderabad, HYD 2333, GCB</p>
            <p><i class="fas fa-envelope mr-3"></i>vehicleservices@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i>+91 9515692288</p>
            <p><i class="fas fa-print mr-3"></i>+080-4356665642</p>
          </div>
        </div>
        <hr class="mb-4" />
        <div class="row align-items-center">
          <div class="col-md-7 col-lg-8">
            <p>
              Copyright @2023 All rights reserved by:

              <a href="#" style="text-decoration: none">
                <strong style="color: floralwhite">The Providers</strong>
              </a>
            </p>
          </div>

          <div class="col-md-5 col-lg-4">
            <div class="text-center text-md-right">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a
                    href="#"
                    class="btn-floating btn-sn text-white"
                    style="font-size: 23px"
                    ><i class="fab fa-facebook"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a
                    href="#"
                    class="btn-floating btn-sn text-white"
                    style="font-size: 23px"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a
                    href="#"
                    class="btn-floating btn-sn text-white"
                    style="font-size: 23px"
                    ><i class="fab fa-google-plus"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a
                    href="#"
                    class="btn-floating btn-sn text-white"
                    style="font-size: 23px"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a
                    href="#"
                    class="btn-floating btn-sn text-white"
                    style="font-size: 23px"
                    ><i class="fab fa-youtube"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
