<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h4>Get in touch</h4>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Enter your name"
            />
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput2"
              placeholder="Enter your email"
            />
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label"
              >Contact Number</label
            >
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput2"
              placeholder="Enter your number"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Message</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
          <button class="btn btn-primary">Submit</button>
        </div>
        <div class="col-md-5">
          <h4 style="font-variant: small-caps">Contact us</h4>
          <hr />
          <div class="mt-4">
            <div class="d-flex">
              <i class="fa-solid fa-location-dot" style="font-size: 25px"></i>
              <p style="font-variant: small-caps">
                Address: 198 West 21th Street, Suite 721 New York NY 10016
              </p>
            </div>
            <hr />
            <div class="d-flex">
              <i class="fa-solid fa-phone" style="font-size: 25px"></i>
              <p style="font-variant: small-caps">Contact :- +91 9515692288</p>
            </div>
            <hr />
            <div class="d-flex">
              <i class="fa-solid fa-envelope" style="font-size: 25px"></i>
              <p style="font-variant: small-caps">
                Email:- vehicleservice@gmail.com
              </p>
            </div>
            <hr />
            <div class="d-flex">
              <i class="fa-solid fa-globe" style="font-size: 25px"></i>
              <p style="font-variant: small-caps">
                Website: www.vehicleservice.com
              </p>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
