<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="font-variant: small-caps; color: floralwhite">About Us</h1>
        <p>
          At Vehicle Service Management, we believe in providing exceptional
          automotive solutions tailored to meet the diverse needs of our valued
          customers. With a passion for vehicles and a commitment to superior
          service, we strive to deliver unparalleled results every time.
        </p>
        <h2 style="font-variant: small-caps; color: floralwhite">Who We Are</h2>
        <p>
          We are a dedicated team of automotive professionals, consisting of
          highly skilled technicians, knowledgeable advisors, and friendly
          customer support staff. With years of industry experience, we possess
          the expertise to handle all your vehicle service requirements, from
          routine maintenance to complex repairs.
        </p>
        <p>
          Comprehensive Vehicle Maintenance: We offer a wide range of
          maintenance services to ensure your vehicle operates at its peak
          performance. From oil changes and tire rotations to brake inspections
          and fluid top-ups, our technicians are equipped with the latest tools
          and knowledge to keep your vehicle in top shape.
        </p>
        <p>
          Expert Repairs: Our skilled technicians are adept at diagnosing and
          repairing a variety of automotive issues. Whether it's engine
          troubles, electrical problems, or suspension repairs, we employ
          advanced diagnostic techniques to identify the root cause and provide
          efficient and effective solutions. We understand the importance of
          using high-quality parts for repairs and replacements. That's why we
          source genuine and reliable parts from trusted suppliers, ensuring
          optimal performance and longevity for your vehicle. At Vehicle Service
          Management, we believe in transparency and fairness when it comes to
          pricing. We provide detailed estimates and explanations of the
          services required, so you can make informed decisions about your
          vehicle's maintenance and repair needs. We prioritize your
          satisfaction and aim to exceed your expectations at every step. Our
          friendly and knowledgeable staff is here to answer your queries,
          provide guidance, and ensure a seamless service experience from start
          to finish.
        </p>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="/assets/Images/aboutus3.png"
            class="image-fluid"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title" style="font-variant: small-caps">
              Clean Vehicles...
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="/assets/Images/aboutus2.png"
            class="image-fluid"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title" style="font-variant: small-caps">
              Affortable Prices...
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="/assets/Images/aboutus1.png"
            class="image-fluid"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title" style="font-variant: small-caps">
              Best Experience...
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="faqs">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Frequently asked questions</h2>
          <div class="accordion mt-3" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h3 class="clearfix mb-0">
                  <a
                    class="btn btn-link"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    What is vehicle service management?<i
                      class="fa-solid fa-angle-down"
                    ></i>
                  </a>
                </h3>
              </div>
              <div
                id="collapseOne"
                class="collapse"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="card-body">
                  This system “Vehicle service management system (VSMS)” allows
                  providing vehicle for service. If customer got any problem
                  with his vehicle they are providing services.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingTwo">
                <h3 class="clearfix mb-0">
                  <a
                    class="btn btn-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="true"
                    aria-controls="collapseTwo"
                  >
                    What are the objectives of vehicle management system
                    project?<i class="fa-solid fa-angle-down"></i>
                  </a>
                </h3>
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  To assist in the tracking of vehicles operation and the
                  planning of maintenance (i.e.: replacement of spare parts,
                  etc.) that is important to avoid any damage/unexpected problem
                  that might occur in the future that may cause hindrance to the
                  operation and/or risking the safety of the drivers and
                  passengers.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h3 class="clearfix mb-0">
                  <a
                    class="btn btn-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="true"
                    aria-controls="collapseThree"
                  >
                    What are the modules of automobile management system??<i
                      class="fa-solid fa-angle-down"
                    ></i>
                  </a>
                </h3>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Delivery Module : We can create, read, update and delete
                  Delivery from this module. Automobiles Module : All the
                  operations related to Automobiles, is managed by this module.
                  Charges Module : Charges Module is used to manage the Charges.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingFour">
                <h3 class="clearfix mb-0">
                  <a
                    class="btn btn-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapseFour"
                    aria-expanded="true"
                    aria-controls="collapseFour"
                  >
                    What is SDM in vehicle?<i
                      class="fa-solid fa-angle-down"
                    ></i>
                  </a>
                </h3>
              </div>
              <div
                id="collapseFour"
                class="collapse"
                aria-labelledby="headingFour"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  MVEDRs in GM vehicles have the capability to store a
                  description of both the crash and the pre-crash phase of a
                  traffic collision ( Correia et al, 2001. ) The MVEDR in GM
                  vehicles is referred to as the Sensing and Diagnostic
                  Module(SDM).
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingFive">
                <h3 class="clearfix mb-0">
                  <a
                    class="btn btn-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapseFive"
                    aria-expanded="true"
                    aria-controls="collapseFive"
                  >
                    Which engine oil is best for bike?<i
                      class="fa-solid fa-angle-down"
                    ></i>
                  </a>
                </h3>
              </div>
              <div
                id="collapseFive"
                class="collapse"
                aria-labelledby="headingFive"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Motul 7100 4T 20W. Shell Advance 4T AX7. Shell Rotella T6
                  5W-40 . Motul 3100 4T Gold . Polaris 2877883 Castrol 06130
                  Actevo . Liqui Moly 15W50 4T . GULF Pride 4T Ultra Plus 20W.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingSix">
                <h3 class="clearfix mb-0">
                  <a
                    class="btn btn-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapseSix"
                    aria-expanded="true"
                    aria-controls="collapseSix"
                  >
                    What is general service in bike??<i
                      class="fa-solid fa-angle-down"
                    ></i>
                  </a>
                </h3>
              </div>
              <div
                id="collapseSix"
                class="collapse"
                aria-labelledby="headingSix"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Our general service for two-wheeler includes engine oil
                  change, brakes check & cleaning, washing, polishing and much
                  more at an affordable price.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingSeven">
                <h3 class="clearfix mb-0">
                  <a
                    class="btn btn-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapseSeven"
                    aria-expanded="true"
                    aria-controls="collapseSeven"
                  >
                    How can I improve my bike service?<i
                      class="fa-solid fa-angle-down"
                    ></i>
                  </a>
                </h3>
              </div>
              <div
                id="collapseSeven"
                class="collapse"
                aria-labelledby="headingSeven"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Check Engine Oil: The oil in the engine of the bike can be
                  thought of as the blood of the bike. ... Regularly Check Your
                  Tyres: ... Clean Air Filter: ... Get your Transmission
                  Inspected: ... Take care of your Battery: ... Clean your Bike:
                  ... Engine Maintenance:
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingEight">
                <h3 class="clearfix mb-0">
                  <a
                    class="btn btn-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapseEight"
                    aria-expanded="true"
                    aria-controls="collapseEight"
                  >
                    What is service in automobile?<i
                      class="fa-solid fa-angle-down"
                    ></i>
                  </a>
                </h3>
              </div>
              <div
                id="collapseEight"
                class="collapse"
                aria-labelledby="headingEight"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  A motor vehicle service or tune-up is a series of maintenance
                  procedures carried out at a set time interval or after the
                  vehicle has traveled a certain distance.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingNine">
                <h3 class="clearfix mb-0">
                  <a
                    class="btn btn-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapseNine"
                    aria-expanded="true"
                    aria-controls="collapseNine"
                  >
                    What are the basic things to service a car?<i
                      class="fa-solid fa-angle-down"
                    ></i>
                  </a>
                </h3>
              </div>
              <div
                id="collapseNine"
                class="collapse"
                aria-labelledby="headingNine"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Oil and Coolant Levels. ... Air Filter. ... Tyre Pressure and
                  Tread Depth. ... Headlights, Turn Signals, Brake, and Parking
                  Lights. ... Oil & Filter. ... Rotate Tyres. ... Wax Vehicle.
                  ... Transmission Fluid.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
