<body style="background-image: url('assets/Images/loginbackground5.jpeg')">
  <div class="container">
    <div class="row">
      <div class="col-6 ml-auto my-5">
        <div class="card m-auto w-75 my-5 float-right">
          <div class="card-header">
            <h2 style="color: darkgray"><i> Login-Form</i></h2>
          </div>
          <div class="card-body" style="background-color: darkslategray">
            <form #loginForm="ngForm" (ngSubmit)="loginFormSubmit()">
              <div class="form-group col-12">
                <label
                  class="font-weight-bold"
                  style="color: darkgray; font-size: 25px"
                  >Login-Id: <i class="fa-solid fa-user"></i
                ></label>
                <input
                  class="form-control my-2"
                  type="email"
                  placeholder="Enter Email-Id"
                  name="emailId"
                  [(ngModel)]="customer.emailId"
                  required
                  #emailId="ngModel"
                  [class.is-invalid]="emailId.invalid && emailId.touched"
                />
                <small
                  class="text-danger font-weight-bold"
                  [class.d-none]="emailId.valid || emailId.untouched"
                  >Email Id is required field.</small
                >
              </div>

              <div class="form-group col-12">
                <label
                  class="font-weight-bold"
                  style="color: darkgray; font-size: 25px"
                  >Password: <i class="fa-solid fa-unlock"></i
                ></label>
                <input
                  class="form-control my-2"
                  type="password"
                  placeholder="Enter Password"
                  name="password"
                  [(ngModel)]="customer.password"
                  required
                  #password="ngModel"
                  [class.is-invalid]="password.invalid && password.touched"
                />
                <small
                  class="text-danger font-weight-bold"
                  [class.d-none]="password.valid || password.untouched"
                  >Password is required field.</small
                >
              </div>
              <!-- <small class="text-danger font-weight-bold">{{ msg }}</small> -->

              <div class="form-group col-12">
                <button
                  [disabled]="!loginForm.valid"
                  class="btn btn-light my-3 font-weight-bold"
                >
                  Login
                </button>
              </div>
            </form>

            <div class="g-sign-in-button my-3">
              <div class="content-wrapper">
                <div class="logo-wrapper">
                  <img src="assets/Images/google.png" alt="" />
                </div>
                <span class="text-container" (click)="googleLogin()">
                  Sign in with Google
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
